[Unit]
Description=Kea DHCPv4 Server
Documentation=man:kea-dhcp4(8)
Wants=network-online.target
After=network-online.target
After=time-sync.target

[Service]
ExecStart=/usr/sbin/kea-dhcp4 -c /etc/kea/dhcp4.json

[Install]
WantedBy=multi-user.target
